<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    </configSections>
    <connectionStrings>
        <add name="SQLConnString" connectionString="Data Source=localhost;Initial Catalog=;User Id=;Password=" providerName="System.Data.SqlClient" />
    </connectionStrings>
    <appSettings>
        <!-- ESCRITURA DE LOGS -->
        <add key="DIRECTORIO" value="C:/quiniela/" />
        <add key="LOG_QUINIELA" value="S" />

        <add key="C" value="" />
        <add key="P" value="" />
        <add key="S" value="" />
        <add key="PO" value="" />
        <add key="BackgroundColor" value="0B0B3B" />
        <add key="trPar" value="1E5E9E" />
        <add key="trImpar" value="58ACFA" />
        <add key="HOME" value="" />

        <!-- DISCORD -->

        <add key="Avatar_D" value="" />
        <add key="BP" value="" />
        <add key="UWH_P" value="" />
        <add key="BR" value="" />
        <add key="UWH_R" value="" />
        <add key="UI" value="" />
        <add key="C_P" value="" />
        <add key="C_R" value="" />
   </appSettings>
</configuration>
